{% load static %}

<footer>
    <div class="footer__links">
        <div class="footer__section">
            <div class="footer__header_link">
                Social
            </div>
            <div class="footer__header_links">
                <a href="">Facebook</a>
                <a href="">Instgram</a>
            </div>
        </div>
        <div class="footer__section">
            <div class="footer__header_link">
                Legal
            </div>
            <div class="footer__header_links">
                <a href="">Policy & Privacy</a>
                <a href="">Terms & Conditions</a>
                <a href="">Branding</a>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        Some copy right info here
    </div>
</footer>